<template>
  <div id="media">
    <audio id="remoteAudio" controls>
      <p>Your browser doesn't support HTML5 audio.</p>
    </audio>
  </div>
</template>

<script lang="ts">
import {
  Session,
  Web
} from "sip.js";

export default {
  mounted() {
    this.$parent.$on('setupRemoteMediaStreamAudio', (session: Session) => {
        this.methods.setupRemoteMediaStreamAudio(session);
    });
  },
  methods: {
    setupRemoteMediaStreamAudio(session: Session) {
      const remoteAudio = document.getElementById('remoteAudio') as HTMLMediaElement;
      const sessionDescriptionHandler = session.sessionDescriptionHandler;
      if (!sessionDescriptionHandler || !(sessionDescriptionHandler instanceof Web.SessionDescriptionHandler)) {
        throw new Error("Invalid session description handler.");
      }
      this.assignStreamToElement(
        sessionDescriptionHandler.remoteMediaStream,
        remoteAudio
      );
    },
    assignStreamToElement(stream: MediaStream, element: HTMLMediaElement) {
      // Set element source.
      element.autoplay = true; // Safari does not allow calling .play() from a non user action
      element.srcObject = stream;
      // Load and start playback of media.
      element.play().catch((error: Error) => {
        console.error("Failed to play media");
        console.error(error);
      });
      // If a track is added, load and restart playback of media.
      stream.onaddtrack = (): void => {
        element.load(); // Safari does not work otheriwse
        element.play().catch((error: Error) => {
          console.error("Failed to play remote media on add track");
          console.error(error);
        });
      };
      // If a track is removed, load and restart playback of media.
      stream.onremovetrack = (): void => {
        element.load(); // Safari does not work otheriwse
        element.play().catch((error: Error) => {
          console.error("Failed to play remote media on remove track");
          console.error(error);
        });
      };
    }
  }
}
</script>
