<template>
  <div id="user-agent">
    {{ userAgent() }}
  </div>
</template>

<script lang="ts">
import {
  UserAgent,
  UserAgentOptions,
  Registerer,
  //Session,
  SessionState,
  //Web
} from "sip.js";

export default {
  methods: {
    userAgent() {
      var component = this
      const transportOptions = {
        server: "wss://dontest.twobarrels.com:8089/ws"
      };
      const uri = UserAgent.makeURI("sip:422@dontest.twobarrels.com");
      const userAgentOptions: UserAgentOptions = {
        authorizationPassword: '3k6NEvyRB',
        authorizationUsername: '422',
        delegate: {
          onInvite
        },
        transportOptions,
        uri,
        logLevel: 'debug'
      };
      const userAgent = new UserAgent(userAgentOptions);
      const registerer = new Registerer(userAgent);
      userAgent.start().then(() => {
        registerer.register();
      });
      // Delegate relay functions
      function onInvite(invitation: any) {
        component.delegateOnInvite(invitation)
      }
      // Delegate: onInvite
      // Executes when SIP invite is received.
      // function onInvite(invitation: any) {
      //   invitation.stateChange.addListener((state: SessionState) => {
      //     console.log(`Session state changed to ${state}`);
      //     switch (state) {
      //       case SessionState.Initial:
      //         break;
      //       case SessionState.Establishing:
      //         break;
      //       case SessionState.Established:
      //         setupRemoteMediaStream(invitation);
      //         break;
      //       case SessionState.Terminating:
      //         // fall through
      //       case SessionState.Terminated:
      //         break;
      //       default:
      //         throw new Error("Unknown session state.");
      //     }
      //   });
      //   invitation.accept();
      // }
      // setupRemoteMediaStream
      // Creates media (remote audio only) MediaStream and assigns to HTML5 element.
      // function setupRemoteMediaStream(session: Session) {
      //   const remoteAudio = document.getElementById('remoteAudio') as HTMLMediaElement;
      //   const sessionDescriptionHandler = session.sessionDescriptionHandler;
      //   if (!sessionDescriptionHandler || !(sessionDescriptionHandler instanceof Web.SessionDescriptionHandler)) {
      //     throw new Error("Invalid session description handler.");
      //   }
      //   assignStream(sessionDescriptionHandler.remoteMediaStream, remoteAudio);
      // }
      // // assignStream
      // // Assigns MediaStream to HTML5 element
      // function assignStream(stream: MediaStream, element: HTMLMediaElement): void {
      //   // Set element source.
      //   element.autoplay = true; // Safari does not allow calling .play() from a non user action
      //   element.srcObject = stream;
      //   // Load and start playback of media.
      //   element.play().catch((error: Error) => {
      //     console.error("Failed to play media");
      //     console.error(error);
      //   });
      //   // If a track is added, load and restart playback of media.
      //   stream.onaddtrack = (): void => {
      //     element.load(); // Safari does not work otheriwse
      //     element.play().catch((error: Error) => {
      //       console.error("Failed to play remote media on add track");
      //       console.error(error);
      //     });
      //   };
      //   // If a track is removed, load and restart playback of media.
      //   stream.onremovetrack = (): void => {
      //     element.load(); // Safari does not work otheriwse
      //     element.play().catch((error: Error) => {
      //       console.error("Failed to play remote media on remove track");
      //       console.error(error);
      //     });
      //   };
      // }

      //

    },
    delegateOnInvite(invitation: any) {
      invitation.stateChange.addListener((state: SessionState) => {
        console.log(`Session state changed to ${state}`);
        switch (state) {
          case SessionState.Initial:
            break;
          case SessionState.Establishing:
            break;
          case SessionState.Established:
            // Not calling this
            self.Phone.$emit('setupRemoteMediaStream', invitation);
            break;
          case SessionState.Terminating:
            // fall through
          case SessionState.Terminated:
            break;
          default:
            throw new Error("Unknown session state.");
        }
      });
      invitation.accept();

      // function setupRemoteMediaStream(session: Session) {
      //   const remoteAudio = document.getElementById('remoteAudio') as HTMLMediaElement;
      //   const sessionDescriptionHandler = session.sessionDescriptionHandler;
      //   if (!sessionDescriptionHandler || !(sessionDescriptionHandler instanceof Web.SessionDescriptionHandler)) {
      //     throw new Error("Invalid session description handler.");
      //   }
      //   assignStream(sessionDescriptionHandler.remoteMediaStream, remoteAudio);
      // }
      // assignStream
      // Assigns MediaStream to HTML5 element
      // function assignStream(stream: MediaStream, element: HTMLMediaElement): void {
      //   // Set element source.
      //   element.autoplay = true; // Safari does not allow calling .play() from a non user action
      //   element.srcObject = stream;
      //   // Load and start playback of media.
      //   element.play().catch((error: Error) => {
      //     console.error("Failed to play media");
      //     console.error(error);
      //   });
      //   // If a track is added, load and restart playback of media.
      //   stream.onaddtrack = (): void => {
      //     element.load(); // Safari does not work otheriwse
      //     element.play().catch((error: Error) => {
      //       console.error("Failed to play remote media on add track");
      //       console.error(error);
      //     });
      //   };
      //   // If a track is removed, load and restart playback of media.
      //   stream.onremovetrack = (): void => {
      //     element.load(); // Safari does not work otheriwse
      //     element.play().catch((error: Error) => {
      //       console.error("Failed to play remote media on remove track");
      //       console.error(error);
      //     });
      //   };
      // }
    }

    // Methods

  }
}
</script>
