<template>
  <div id="app">
    <Settings/>
    <UserAgent/>
    <Media/>
    <CallControl/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Settings from './components/Settings.vue';
import UserAgent from './components/UserAgent.vue';
import Media from './components/Media.vue';
import CallControl from './components/CallControl.vue';

@Component({
  components: {
    "Settings": Vue.extend(Settings),
    "UserAgent": Vue.extend(UserAgent),
    "Media": Vue.extend(Media),
    "CallControl": Vue.extend(CallControl),
  },
})
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
